@model JosephOlin.Web.Models.Person
@{
    ViewBag.Title = "Joseph Olin's Site";
}
<!--Use Bootstrap's row and col classes to center the content on the page-->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2 class="text-uppercase">About</h2>
                <p>
                    I am a junior level software architect with a passion for both software architecture and software engineering. 
                    I am currently an @Model.Position at @Model.Employer, where I work with a team of interns in the Architecture 
                    group to develop an internal database monitoring application. Through the development of this software, I am
                    learning an incredible amount concerning how to use different software libraries, tools, and design approaches. 
                </p>
                <br />
                <p>
                    Apart from that, I am also a student at @Model.University, majoring in @Model.Major. 
                    Prior to attending college, I had never worked with code, let alone developed a piece of software. 
                    It was during my first programming class that I realized just how much I enjoy working with software and, since then, 
                    becoming a software developer has been my primary career goal. Following this plan, I will graduate in May 2018
                    with a Bachelor of Science degree in @Model.Major.
                </p>
                <br />
                <a href="@Url.Action("DisplayResume")" target="_blank">
                    <span class="btn navbar-btn btn-xlg btn-info buttonLink">Resume</span>
                </a>
            </div>
        </div>
    </div>
</section>
