@model JosephOlin.Web.Models.Person
@{
    ViewBag.Title = "Joseph Olin's Site";
}

<!DOCTYPE html>
<container class="text-center">
    <h2 class="text-uppercase">About</h2>
    <p class="text-center">Hi! My name is @Model.Name and I am an @Model.Position at @Model.Employer. I work with a team of interns 
        in the Architecture group to develop software that can be used within @Model.Employer</p>
    <br />
    <p>Apart from that, I am also a student at @Model.University, majoring in @Model.Major. I am going to be graduating in May 2018</p>
    <p>with my Bachelor of Science degree in @Model.Name</p>
</container>

